{
  "env": {
    "jest": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/no-dynamic-require": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-useless-concat": "off",
    "max-len": ["error", {"code": 300}]
  }
}
